@media screen and (max-width:650px){
    #bar-list{
        font-size:.8em;
        max-height:100%;
        display:flex;
        flex-wrap:wrap;
      }
      #bar-list li{
        margin:2%;
        width:100%;
        
      }

}