@media screen and (max-width:649px) {
    #bar-list {
        margin-left:4%;
        max-height: 100%;
    }
    #bar-list li {
        margin: 2%;
        width: 100%;
    }
}

@media screen and (min-width:650px) and (max-width:1120px) {
    #bar-list li {
        margin-left: 5%;
        margin: 1%;
        width: calc(( 100% / 3) - 60px);
    }
}

@media screen and (max-width:1350px) {
    #bar-list {
        font-size: .8em;
    }
}

@media screen and (max-width:1250px) {
    #bar-list {
        font-size: .7em;
    }
}

@media screen and (max-width:650px) {
    #bar-list {
        font-size: .6em;
    }
}